@model Recipe_Task.Models.AboutU

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AboutU</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imageee1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imageee1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imageee2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imageee2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titleeee1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titleeee1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AboutusId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
