@model IEnumerable<Recipe_Task.Models.AboutU>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Imageee1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imageee2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titleeee1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Imageee1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imageee2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titleeee1)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AboutusId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AboutusId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AboutusId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
