@model User
@{
	Layout = "~/views/shared/_ChefLayout.cshtml";
}
<html>
<head>
	<style>
		body {
			margin: 0;
			padding-top: 40px;
			color: #2e323c;
			background: #f5f6fa;
			position: relative;
			height: 100%;
		}

		.account-settings .user-profile {
			margin: 0 0 1rem 0;
			padding-bottom: 1rem;
			text-align: center;
		}

			.account-settings .user-profile .user-avatar {
				margin: 0 0 1rem 0;
			}

				.account-settings .user-profile .user-avatar img {
					width: 90px;
					height: 90px;
					-webkit-border-radius: 100px;
					-moz-border-radius: 100px;
					border-radius: 100px;
				}

			.account-settings .user-profile h5.user-name {
				margin: 0 0 0.5rem 0;
			}

			.account-settings .user-profile h6.user-email {
				margin: 0;
				font-size: 0.8rem;
				font-weight: 400;
				color: #9fa8b9;
			}

		.account-settings .about {
			margin: 2rem 0 0 0;
			text-align: center;
		}

			.account-settings .about h5 {
				margin: 0 0 15px 0;
				color: #007ae1;
			}

			.account-settings .about p {
				font-size: 0.825rem;
			}

		.form-control {
			border: 1px solid #cfd1d8;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			border-radius: 2px;
			font-size: .825rem;
			background: #ffffff;
			color: #2e323c;
		}

		.card {
			background: #ffffff;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			border: 0;
			margin-bottom: 1rem;
		}

	</style>
</head>
<body>
	<br />
	<br />
	<br />
	<div class="container">
		<div class="row gutters">
			<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
				<div class="card h-100">
					<div class="card-body">
						<div class="account-settings">
							<div class="user-profile">
								<div class="user-avatar">
									<img src= ="@Url.Content("~/Images/" + Model.ImagePath)" alt="image profile ">
								</div>
								<h5 class="user-name">@Model.Fname @Model.Password</h5>
								<h6 class="user-email">@Model.Email</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
				<div class="card h-100">
					<div class="card-body">
						<div class="row gutters">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<h6 class="mb-2 text-primary">Personal Details</h6>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="form-group">
									<label for="email">Email</label>
									<input type="@Model.Email" class="form-control" id="email" placeholder="Enter email ID">
								</div>
								<div class="form-group">
									<label for="password">password</label>
									<input type="@Model.Password" class="form-control" id="password" placeholder="Enter password">
								</div>
								<div class="form-group">
									<label for="Fname">First name</label>
									<input type="@Model.Fname" class="form-control" id="Fname" placeholder="Enter email ID">
								</div>
								<div class="form-group">
									<label for="Lname">Last name</label>
									<input type="@Model.Lname" class="form-control" id="Lname" placeholder="Enter password">
								</div>
							</div>
						</div>
						<div class="row gutters">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<div class="text-right">
									<button type="button" id="submit" name="submit" class="btn btn-secondary">Cancel</button>
									<button type="button" id="submit" name="submit" class="btn btn-primary">Update</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br />
</body>
</html>