@model IEnumerable<Recipe_Task.Models.Recipe>

@{
    Layout = "~/views/shared/_UserLayout.cshtml";
}
<div class="slider_area">
    <div class="single_slider  d-flex align-items-center slider_bg_1">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-8 ">
                    <div class="slider_text text-center">
                        <div class="text">
                            <h3>
                                Asian Recipes
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- recepie_area_start  -->

<div class="recepie_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form method="get" action="@Url.Action("Searchhh", "Home")" class="form-inline mb-4">
                    <input type="text" name="queryyy" class="form-control mr-2" placeholder="Search recipes by name...">
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>
        <div class="row">
            @foreach (var recipe in Model)
            {
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single_recepie text-center">
                        <div class="recepie_thumb">
                            <img src="@Url.Content("~/Images/"+recipe.ImagePath1)" alt="image user">
                        </div>
                        <h3>@recipe.RecipeName</h3>
                        <p>@recipe.Ingredients</p>
                        <p>@recipe.Price JD</p>
                        <a href="@Url.Action("Card", "Home", new { recipeId = recipe.RecipeId })">View  full Details</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
